@media screen and (max-width: 1024px) and (min-width: 960px) {
  .container {
    height: 48px;
    background: rgba(45, 45, 45, 0.98);
  }
  .container .header {
    height: 48px;
    width: 1000px;
    margin: auto;
    background: rgba(45, 45, 45, 0.98);
  }
  .container .header .header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .header .header1 li #smallWord {
    display: block;
    margin: 0 10px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 44px;
    height: 44px;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC", "Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .header .header1 li #smallWord:hover {
    color: gray;
  }
  .container .header .header1 li .loga {
    background-size: 16px 44px;
    background-repeat: no-repeat;
  }
  .container .headerimg {
    background-image: url(../static/hero-banner-homepage.image.large_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    vertical-align: middle;
  }
  .container .headerimg .center {
    width: 980px;
    height: 125px;
    margin: auto;
    padding-top: 70px;
  }
  .container .headerimg .center .word {
    width: 817px;
    height: 55px;
    margin: auto;
    padding-bottom: 38px;
    text-align: center;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC", "Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #333333;
    font-size: 48px;
    font-weight: 500;
  }
  .container .headerimg .center input {
    width: 654px;
    height: 52px;
    display: block;
    margin: auto;
  }
  .container .headerimg1 {
    display: none;
  }
  .container .maneyImg {
    width: 880px;
    padding-top: 58px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .maneyImg .manyImgOne {
    width: 293.33333px;
    height: 110px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .maneyImg .manyImgOne img {
    width: 68px;
    height: 84px;
    display: block;
    padding-bottom: 16px;
  }
  .container .maneyImg .manyImgOne a {
    color: #333333;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .maneyImg .manyImgOne a:hover {
    text-decoration: underline;
  }
  .container .line {
    margin-top: 48px;
    border-bottom: 1px solid #dedede;
  }
  .container .gengxin {
    width: 817px;
    height: 230px;
    margin: 38px auto;
  }
  .container .gengxin .small1 {
    width: 50%;
    float: left;
  }
  .container .gengxin .small1 .first {
    color: #333333;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    height: 94px;
    margin-bottom: 11.2PX;
  }
  .container .gengxin .small1 P {
    color: #333333;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    height: 64PX;
    margin-top: 16.5PX;
    margin-bottom: 5.5PX;
  }
  .container .gengxin .small1 .two {
    height: 32px;
    margin-top: 24px;
  }
  .container .gengxin .small1 .two a {
    color: #0070c9;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
  }
  .container .gengxin .small1 .two a:hover {
    text-decoration: underline;
  }
  .container .gengxin .small2 {
    float: right;
    width: 50%;
    text-align: center;
  }
  .container .gengxin .small2 img {
    width: 400px;
    height: 209px;
  }
  .container .tongGuo {
    border-top: 1px solid #dedede;
    height: 516px;
    background-image: url(../static/banner-hero-giveback-support.image.large_2x.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .tongGuo .Tcenter {
    width: 980px;
    height: 200px;
    margin: auto;
  }
  .container .tongGuo .Tcenter h2 {
    width: 400px;
    height: 94px;
    color: #333333;
    font-size: 40px;
    line-height: 47px;
    font-family: "SF Pro SC","SF Pro Display", "SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .tongGuo .Tcenter p {
    width: 400px;
    height: 52px;
    margin-top: 12px;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons", "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .tongGuo .Tcenter .TcenterA {
    width: 400px;
    height: 26px;
    margin-top: 16px;
  }
  .container .tongGuo .Tcenter .TcenterA a {
    color: #0070c9;
    font-size: 15x;
    font-weight: 400;
    line-height: 26px;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC", "Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .tongGuo .Tcenter .TcenterA a:hover {
    text-decoration: underline;
  }
  .container .tongguo2 {
    display: none;
  }
  .container .threeImg {
    width: 980px;
    height: 373px;
    margin: auto;
    margin-top: 42px;
  }
  .container .threeImg div {
    float: left;
    margin-left: 44px;
  }
  .container .threeImg img {
    width: 282px;
    height: 173px;
  }
  .container .threeImg h3 {
    width: 282px;
    margin: 8px 0px 8px 0px;
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
  .container .threeImg p {
    width: 282px;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 12.75px;
  }
  .container .threeImg a {
    color: #0070c9;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    display: block;
    margin-top: 12px;
  }
  .container .threeImg a:hover {
    text-decoration: underline;
  }
  .container .xueXi {
    height: 516px;
    margin-top: 50px;
    background-image: url(../static/hero-banner-homepage-mobile.image.large_2x.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .xueXi .Xcenter {
    width: 980px;
    height: 153px;
    margin: auto;
  }
  .container .xueXi .Xcenter h2 {
    width: 400px;
    height: 47px;
    color: white;
    font-size: 38px;
    font-weight: 500;
    line-height: 47px;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons", "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .xueXi .Xcenter p {
    width: 400px;
    height: 52px;
    margin-top: 12px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons", "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .xueXi .Xcenter a {
    display: block;
    width: 400px;
    height: 26px;
    margin-top: 16px;
    color: #0070c9;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons" ,"PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .container .xueXi .Xcenter a:hover {
    text-decoration: underline;
  }
  .container .xuexi2 {
    display: none;
  }
  .container .liaoJieNi {
    width: 817px;
    height: 164px;
    padding-top: 34px;
    padding-bottom: 36px;
    margin: auto;
    display: flex;
  }
  .container .liaoJieNi .liaoJieNi1 {
    width: 489px;
    height: 164px;
  }
  .container .liaoJieNi .liaoJieNi1 h3 {
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
  }
  .container .liaoJieNi .liaoJieNi1 p {
    margin-top: 8px;
    color: #333333;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .liaoJieNi .liaoJieNi1 p a {
    display: inline;
    color: #0070c9;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .liaoJieNi .liaoJieNi1 p a:hover {
    text-decoration: underline;
  }
  .container .liaoJieNi .liaoJieNi1 a {
    display: block;
    margin-top: 12px;
    color: #0070c9;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .liaoJieNi .liaoJieNi1 a:hover {
    text-decoration: underline;
  }
  .container .liaoJieNi .liaoJieNi2 {
    width: 328px;
    height: 164px;
  }
  .container .liaoJieNi .liaoJieNi2 img {
    width: 328px;
    height: 164px;
  }
  .container .line2 {
    margin-top: 12px;
    border-bottom: 1px solid #dedede;
  }
  .container .rangWo {
    width: 980px;
    height: 225px;
    padding-top: 48px;
    margin: auto;
    display: flex;
  }
  .container .rangWo .rangWo1 {
    width: 400px;
    height: 200px;
  }
  .container .rangWo .rangWo1 img {
    width: 400px;
    height: 200px;
  }
  .container .rangWo .rangWo2 {
    width: 530px;
    height: 225px;
    padding-left: 50px;
  }
  .container .rangWo .rangWo2 h3 {
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container .rangWo .rangWo2 p {
    color: #333333;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .container .rangWo .rangWo2 a {
    margin-top: 20px;
    color: #0070c9;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .rangWo .rangWo2 a:hover {
    text-decoration: underline;
  }
  .container .line3 {
    width: 981px;
    margin-top: 48px;
    margin: auto;
    border-bottom: 1px solid #dedede;
  }
  .container .liuxin {
    width: 817px;
    height: 188px;
    margin: auto;
    margin-top: 32px;
  }
  .container .liuxin h3 {
    margin-bottom: 12px;
    text-align: center;
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }
  .container .liuxin .liuxin1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .liuxin .liuxin1 a {
    display: inline;
    color: #0070c9;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .liuxin .liuxin1 a:hover {
    text-decoration: underline;
  }
  .container .liuxin .liuxin2 {
    text-align: center;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .line4 {
    margin-top: 48px;
    border-bottom: 1px solid #dedede;
  }
  .container .baohu {
    width: 817px;
    height: 186px;
    margin: auto;
    margin-top: 45px;
    display: flex;
  }
  .container .baohu .baohu1 {
    width: 667px;
    height: 186px;
  }
  .container .baohu .baohu1 h3 {
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
  }
  .container .baohu .baohu1 p {
    margin-top: 10px;
    margin-bottom: 17px;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .baohu .baohu1 a {
    margin-top: 20px;
    color: #0070c9;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .baohu .baohu1 a:hover {
    text-decoration: underline;
  }
  .container .baohu .baohu2 {
    width: 150px;
    height: 150px;
  }
  .container .baohu .baohu2 img {
    width: 150px;
    height: 150px;
  }
  .container .line5 {
    width: 981px;
    margin: auto;
    margin-top: 12px;
    border-bottom: 1px solid #dedede;
  }
  .container .liaojie {
    width: 817px;
    height: 67px;
    margin: auto;
    margin-top: 32px;
  }
  .container .liaojie h3 {
    text-align: center;
    margin-bottom: 12px;
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }
  .container .liaojie p {
    text-align: center;
  }
  .container .liaojie p a {
    display: inline;
    color: #0070c9;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .liaojie p a:hover {
    text-decoration: underline;
  }
  .container .line6 {
    width: 981px;
    margin: auto;
    margin-top: 48px;
    border-bottom: 1px solid #dedede;
  }
  .container .youguan {
    width: 817px;
    height: 90px;
    margin: auto;
    margin-top: 48px;
  }
  .container .youguan h3 {
    text-align: center;
    margin-bottom: 12px;
    color: #333333;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
  }
  .container .youguan p {
    text-align: center;
  }
  .container .youguan p a {
    display: inline;
    color: #0070c9;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .container .youguan p a:hover {
    text-decoration: underline;
  }
  .container .genghuan {
    width: 980px;
    height: 638px;
    margin: auto;
    margin-top: 48px;
    padding-bottom: 74px;
    text-align: center;
  }
  .container .genghuan h3 {
    text-align: center;
    margin-bottom: 13px;
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }
  .container .genghuan .plans {
    display: block;
    color: #0070c9;
    line-height: 40px;
  }
  .container .genghuan .plans:hover {
    text-decoration: underline;
  }
  .container #footer {
    height: 333px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
  }
  .container #footer p {
    color: black;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .container #footer a {
    display: block;
    color: #555;
    font-size: 12px;
    line-height: 22px;
  }
  .container #footer a:hover {
    text-decoration: underline;
  }
  .container #footerB {
    height: 30px;
    position: absolute;
    left: 10%;
    width: 100px;
  }
  .container #footerB p {
    display: inline-block;
    position: relative;
    top: -50%;
    padding-left: 13px;
    font-size: 12px;
    color: #555;
  }
  .container #footerB span {
    height: 8px;
    width: 9px;
    border-right: 1px solid #d3cdcd;
    border-top: 1px solid #d3cdcd;
    transform: rotate(50deg) skewX(15deg);
    display: inline-block;
    position: relative;
    top: -50%;
  }
  .container .footerA {
    height: 230px;
    width: 20%;
    text-align: left;
    line-height: 20px;
    margin-top: 3%;
    border-bottom: 1px solid #d3d4d6;
  }
  .container .footerC {
    display: none;
  }
  .smallWord {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 44px;
    height: 44px;
  }
  .smallWordhover {
    color: gray;
  }
}

.header2 {
  display: none;
}
