.comments{
    width: 1300px;
    height: 482px;
    margin: auto;margin-bottom: 73px;
    padding-top: 50px;
    text-align: center;
   .commentsCenter{
       margin-top: 69px;
       height: 342px;
       display: flex;
       .commentsCenterLeft{
           width: 604px;
           .commentsCenterLeftS{
               height: 64px+26px;width: 604px;
               padding: 14px 0px 0px;
               margin-bottom: 15px;
               border-radius: 20px;
               background: #b7e6ff;
               .commentsCenterLeftSS{
                   height: 55px;width: 570px;
                   text-align: left;
                   margin-left: 29px;
                    margin-right: 5px;
                    color:#555;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: SourceHanSansCN-Regular;
                    line-height: 30px;
               }
               .commentsCenterLeftSB{
                   width: 587px;height: 26px;
                   text-align: right;
                   color:#555;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: SourceHanSansCN-Regular;
                    line-height: 36px;
                    padding-bottom: 10px;
               }
           }
       }
       .commentsCenterC{
            width: 11px;
            margin: 0px 56px 0px 10px;
            background: #b7e6ff;
            border-radius: 4px;
            height: 342px;
            position: relative;
            .commentsCenterCSmall{
                height: 34.2px;
                top: 4px;
                cursor: pointer;
                border-radius: 4px;
                width: 10px;
                background:
                #79d0ff;
                position: absolute;
            }
        }
        .commentsCenterRight{
            width: 586px;
            padding:20px 15px 13px 19px ;
            background: #b7e6ff;
            border-radius: 20px;
            position: relative;
            span{
                color:#555;
                font-size: 16px;
                font-weight: 400;
                font-family: SourceHanSansCN-Regular;
                line-height: 36px;
                position: absolute;
                bottom: 80px;right: 36px;
            }
            .commentsCenterRightOne{
                width: 556px;height: 231px;
                padding: 14px 15px;
                border: none;
                border-radius: 15px;
                color:#555;
                font-size: 16px;
                font-weight: 400;
                font-family: SourceHanSansCN-Regular;
                line-height: 36px;
                resize: none;
            }
            .commentsCenterRightTwo{
                width: 586px;height: 39px;
                margin-top: 13px;
                text-align: left;
                img{
                    width: 75px;height: 32px;
                    
                }
                input{
                    width: 165px;height: 39px;
                    margin-left: 15px;
                    padding-left: 16px;
                    border-radius: 15px;
                    border: none;
                    position: relative;
                    top: -10px;
                }
                button{
                    width: 163px;height: 37px;
                    background-color:rgb(88, 196, 255);
                    cursor: pointer;
                    color:#fff;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: SourceHanSansCN-Regular;
                    line-height: 36px;
                    border-radius: 15px; 
                    float: right;
                    border: none;
                    
                }
            }
        }
   }
}