.departments {
  width: 1300px;
  height: 561px;
  margin: auto;
  margin-bottom: 73px;
  padding-top: 50px;
  text-align: center;
}

#a {
  background-color: #b7e6ff;
}

#photoSmallb {
  background-color: #94d9ff;
}

#photoSmallc {
  background-color: #79d0ff;
}

#photoSmalld {
  background-color: #58c4ff;
}

#photoSmalle {
  background-color: #19aeff;
}
