.departments{
    width: 1300px;
    height: 561px;
    margin: auto;margin-bottom: 73px;
    padding-top: 50px;
    text-align: center;
}
#a{
    background-color:rgb(183, 230, 255);
}
#photoSmallb{
    background-color:rgb(148, 217, 255);
}
#photoSmallc{
    background-color: rgb(121, 208, 255);}
#photoSmalld{
    background-color: rgb(88, 196, 255);
}
#photoSmalle{
    background-color: rgb(25, 174, 255);
}