.zeitgeist{
    width: 1300px;
    height: 465px;
    margin: auto;margin-bottom: 73px;
    padding-top: 50px;
    text-align: center;
    .zeitgeistCencer{
        width: 1300px;height: 268px;
        margin:  67px auto 0px;
        border-radius: 20px;
        display: flex;
justify-content: center;
background-color: rgb(183, 230, 255);
        .zeitgeistCencerSmall{
            width: 324px;height: 185px;
            margin-top: 33px;
            border-left: 1px solid rgb(255, 255, 255);
            border-right: 1px solid rgb(255, 255, 255);
            .zeitgeistCencerSmallContain{
                width: 204px;height: 144px;
                margin: 30px 60px 0px 60px;
                text-align: left;
            }
            .zeitgeistCencerSmallTitle{
                height: 72px;width: 200px;
                color:
#fff;
font-size: 24px;
font-weight: 400;
font-family: SourceHanSansCN-Regular;
line-height: 36px;
            }
            .zeitgeistCencerSmallDetail{
                height: 72px;width: 200px;
                color:
#fff;
font-size: 30px;
font-weight: 400;
font-family: SourceHanSansCN-Regular;
line-height: 36px;
font-size: 18px;
            }
        }
    }
    .zeitgeistBottom{
        height: 59px;
        display: flex;
        position: relative;
        .triangle{
            position: absolute;
            left: 109px;
            border: #b7e6ff solid 12px;
            border-right:white solid 12px;
            border-left: white solid 12px;
            border-bottom: white solid 12px;
            z-index: -1;
        }
        .zeitgeistBottomSmall{
            width: 240px;height: 41px;
            margin: 18px 25px 0px 0px;
            background-color: rgb(183, 230, 255);
            width: 240px;
            border-radius: 20px;
height: 41px;
color:
#fff;
font-size: 30px;
font-weight: 400;
font-family: SourceHanSansCN-Regular;
line-height: 36px;
             
        }
    }
   
}
#zeitgeistBottomSmallA{
    background-color: rgb(183, 230, 255);
 }
 #zeitgeistBottomSmallB{
    background-color: rgb(148, 217, 255);
 }
 #zeitgeistBottomSmallC{
    background-color: rgb(121, 208, 255);
 }
 #zeitgeistBottomSmallD{
    background-color: rgb(88, 196, 255);
 }
 #zeitgeistBottomSmallE{
    background-color: rgb(25, 174, 255);
 }